.about {
  padding: 2.5rem 5rem;
  height: 100vh;
  margin: 0;
  min-height: calc(100vh - 5rem);
  background-image: linear-gradient(rgba(0, 20, 34, 0.6), rgba(0, 16, 27, 0.8)),
    url("../about1.jpg");
  background-size: cover;
  object-fit: fill;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
  position: relative;
  color: var(--color-light);
}

.about section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 1rem;
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.about img:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.about h2 {
  font-size: 4rem;
  /* line-height: 1.2; */
  /* margin-bottom: 3rem; */
  text-align: center;
  font-weight: bold; /* Make heading bold */
  text-transform: uppercase; /* Transform text to uppercase */
}

.about p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.6; /* Improve readability */
}

.about section a {
  margin-top: 2rem;
  display: inline-block; /* Ensure it respects margin-top */
  padding: 1rem 2rem; /* Add padding for better click area */
  text-decoration: none; /* Remove underline */
  border: 2px solid currentColor; /* Border matching text color */
  border-radius: 0.5rem; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

.about section a:hover {
  background-color: currentColor; /* Change background color on hover */
  color: var(--color-dark--1); /* Change text color on hover */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .about {
    margin: 0;
    padding: 1.5rem 2rem;
    height: 100vh;
  }

  .about section {
    width: 100%;
    margin: 2rem auto;
    display: block;
    gap: 2rem;
  }

  .about img {
    margin-bottom: 2rem;
  }

  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .about p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .about section a {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
