* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.homepage {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.6),
      rgba(36, 42, 46, 0.8)
    ),
    url("../bg.jpg");
  background-size: cover;
  object-fit: fill;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.homepage h2 {
  width: 90%;
  font-size: 2rem; /* Modified heading size */
  color: var(--color-light--1);
  margin-bottom: 2.5rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .homepage {
    padding: 1.5rem 2rem;
  }

  .homepage h1 {
    font-size: 2.5rem;
  }

  .homepage h2 {
    font-size: 1.5rem;
  }

  .homepage section {
    gap: 1.5rem;
  }
}
